.popup__button{
    width: 100%;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    padding: 14px 0;
    margin: 0;
    border: 0;
    margin-top: 48px;
    margin-bottom: 37px;
    transition: opacity .2s linear;
    cursor: pointer;
}

.popup__button:hover{
    opacity: 0.8;
}

@media screen and (max-width:767px) {
    .popup__button{
        padding: 14px 0 15px;
        margin-top: 45px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 17px;
    }
    
}