.popup__form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    background-color: white;
    width: 358px;
    height: 100%;
    margin: 0 auto;
}