.popup__content{
    background-color: white;
    width: 430px;
    height: 330px;
    
    border-radius: 10px;
    position: relative;

}

@media screen and (max-width: 767px) {
    .popup__content{
        width: 282px;
        height: 322px;
    }
    
}