.profile-info__button{
    margin: 0;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-top: 15px;
    background-color: black;
    border: 1px solid white;
    transition: opacity .2s linear;
    cursor: pointer;
}

.profile-info__button:hover{
    opacity: .8;
}