.input__title{
    padding: 0;
    max-height: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    margin-top: 54px;
}

@media screen and (max-width: 767px) {
    .input__title{
        margin-top: 75px;
    }
    
}